<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>

    <form action="/" method="get">

        <label for="url">URL:</label>
        <input type="url" name="url" id="url" required placeholder="http://your.very/long/url">

        <input type="submit" value="Shorten">
        
    </form>

    <br>

    {% if url %}
        <p>Shortened URL: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}



</body>
</html>